/* css_x-exercise_x */

td{
    border-radius: 10px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
    text-align: center;
}

td:hover {
    background-color: #D6EEEE;
}

th{
    text-transform: uppercase; 
}

.top {
    background-color: rgb(122, 28, 223);
}

em {
    color:#a200fa;
}

#the_most_important {
    text-transform:uppercase;
    color:#faa000;
}

table{
    border-spacing: 10px;
    margin-left: auto; 
    margin-right: auto;
    width: 100%;
    height: 100%;
    table-layout:fixed;
}

tr{
    background-color: #cccccc;
}

tbody tr:nth-child(odd){
    background-color: #3fb2e0;
}

::selection {
    background-color: #ff4800;
}

a:hover {
    cursor:pointer;
}

figure {
    display:block;
    border: 1px dotted gray;
    margin:auto;
}

figure img {
    width: fit-content;

}

figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}

#tableC {
    background-image: linear-gradient(180deg, rgb(52, 56, 175), rgb(117, 34, 176));
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
}

h2 {
    font-family: sans-serif;    
    border-bottom:1px solid #3e4749;
  }
  
h2+p:first-letter {
    font-size:x-large;
}
  
input {
    height:20px;
}

input:not([type="submit"]){
    border: 2px solid gray;
}
  
input[name="message"]{
    height:50px;
}

img {
    display: block;
}

a {
    color: lightblue;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

nav li {
    display: inline;
}

nav li:first-child {
    text-decoration: underline;
    color:#3e4749;
}

a:link {
    color: green;
}

a:visited{
    color: green;
}

footer {
    font-family: sans-serif;
}

/* at AHC... */
header {
    float: left;
    width: 100%;
    color: #e42424;
    text-align: center;
    font-family: Century Gothic;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* ul */
.navbar-header-list-left{
    width: 50%;
    display: flex;
    float: left;
}

.navbar-header-list-left li{
    list-style: none;
    padding: 26px 30px;
}

.navbar-header-list-left li a{
    text-decoration: none;
    color: rgb(207, 29, 29);
}

.navbar-header-list-right{
    float: right;
}

/*  */
.navbar-header-list-right ul{
    padding-left: 0px;
}

.navbar-header-list-right li{
    display: inline;
    color: #6941C6;
    text-align: center;
    /* Text sm/Medium */
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    padding: 2px 10px;
    background-color: transparent;
    border-radius: 16px;
}
.navbar-header-list-right li a{
    text-decoration: none;
    color: white;
}

/*  */
#sign-in{
    display: flex;
    float: right;
    list-style: none;
    padding: 26px 30px;
    text-decoration: none;
    float: right;
}

#sign-up{
    display: flex;
    float: right;
    list-style: none;
    padding: 26px 30px;
    text-decoration: none;
    float: right;
    background-color: transparent;
    flex-shrink: 0;
    border-radius: 52px;
    border: 2px solid #22A75D;
}
/*  */
.navbar-header{
    position: fixed;
    top:0px;
    background-color: white;
    display: block;
    width: 100%;
    z-index: 1;
}

.navbar-header li{
    display: none;
}

.navbar-header img{
    width: 16px;
}

.navbar-header img:hover, .navbar-header ul li a{
    color: #6941C6;
}

.navbar-header-list-left > *{
    margin: 12px 0px;
}

.navbar-header-list-right > *{
    margin: 12px 0px;
}

.footers{
    margin:32px;
}

.footers a{
    display: block;
    text-align: center;
    font-size: 0.875em;
    margin-bottom: 14px;
    text-decoration: none;
    color: #1A1A1A;
}

@media screen and (min-width:834px) {
    
    body{
        padding-top: 0px;
    }

    nav {
        padding-right: 10px;
    }

    nav ul{
        float: right;
    }
    
    nav li {
        display: inline-block;
        margin: 0px 4px;
    }

    nav img {
        display: none;
    }

    .all {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 16px;
    }
}
/*  */
#headA{
    background: linear-gradient(to right, #2B3087, #00B4EC);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 16px;
    font-family: Century Gothic;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
}

#imgA{
    float:right;
    width: auto;
    height:auto;
    transform: rotate(6.711deg);
}

#headAbody1{
    width: 562px;
    color: #FFF;
    font-family: Century Gothic;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; /* 112.5% */
    letter-spacing: -0.96px;
}

.headbody{
    width: 637px;
    width: 531px;
    color: #DDE2FF;
    font-family: Century Gothic;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    opacity: 0.5;
}

.bodyAButton{
    width: 147px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 52px;
    background: #22A75D;
    box-shadow: 0px 15px 25px 0px rgba(34, 167, 93, 0.25);
    min-width: 120px;
    min-height: 30px;
}

.bodyAButton:hover{
    background-color: #00B4EC;
    transition: 0.5s;
    flex-shrink: 0;
    border-radius: 52px;
    box-shadow:  0px 5px 15px 0px rgb(25, 164, 195);
}

.bodyAButton:focus{
    outline-color: transparent;
    outline-style:solid;
}

.submit_button{
    width: 147px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 52px;
    background: #ffffff;
    box-shadow: 0px 15px 25px 0px #012840;
    min-width: 120px;
    min-height: 30px;
}

.submit_button:hover{
    background-color: #5f5f5f;
    transition: 0.2s;
    box-shadow: 0px 0px 5px 0px rgb(65, 79, 82);
}

.submit_button:focus{
    outline-color: transparent;
    outline-style:solid;
}

.info-shape-1{
    float: left;
    width: 49%;
    height: 100%;
    background: #012840;
    border-radius: 25px;
}

.info-shape-2{
    float: right;
    width: 49%;
    height: 100%;
    background: #012840;
    border-radius: 25px;
}

.info-text{
    color: #FFF;
    font-family: Century Gothic;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; /* 150% */
    text-align: left;
}

#info-users{
    color: #2278D4;
    font-family: Century Gothic;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    text-decoration-line: underline;
}

#info-shareholders{
    color: #22A75D;
    font-family: Century Gothic;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    text-decoration-line: underline;
}

.info-footer{ 
    font-size: 14px; 
    font-family: Century Gothic; 
    font-weight: 700; 
    text-decoration: underline; 
    word-wrap: break-word;
}

#info-user-footer{
    color: #2278D4;
}

#info-shareholder-footer{
    color: #22A75D;
}

.different{
    float: right;
    width: 960px;
    height: 800px;
    flex-shrink: 0;
    border-radius: 300px 0px 0px 0px;
    background: #FFF;

}

.dif-header{
    color: #0F1320;
    font-family: Century Gothic;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; /* 112.5% */
    text-align: center;

}

.dif-body{
 
    color: #0F1320;
    font-family: Century Gothic;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    opacity: 0.6;
    text-align: center;
}

.tg{
    width: 283.963px;
    height: 283.963px;
    flex-shrink: 0;
}

.features{
    color: #FFF;
    font-family: Century Gothic;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; /* 112.5% */
}

.package-caption{
    color: #FFF;
    text-align: center;
    font-family: Century Gothic;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; /* 112.5% */
}

.package-headers{
    color: #191B21;
    font-family: Century Gothic;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; /* 168.75% */
}

/* nav */
.navbar-footer{
    display:flex;
    align-items: center;
    justify-content: center;
    top: 0px;

}

/* ul */
.navbar-footer-list{
    width: 25%;
    display: flex;
}

.navbar-footer-list li{
    list-style: none;
    padding: 26px 30px;
}

.navbar-footer-list li a{
    text-decoration: none;
    color: white;
}