

/* css_x-exercise_x */

td {
    background-color: #A9A9A9;
    border-radius: 10px;
}

td:hover {
    background-color: #D6EEEE;
}

table{
    border-spacing: 10px;
    margin-left: auto; 
    margin-right: auto;
}
